<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <a class="logo">Oauth y Stripe</a>
    </div>

    <div class="nav-menu">
      <a [routerLink]="'/'" class="nav-link">Inicio</a>
      <a [routerLink]="'/products'" class="nav-link">Productos</a>
      <a [routerLink]="'/'" class="nav-link">Servicios</a>
      <a [routerLink]="'/'" class="nav-link">Acerca de</a>
      <a [routerLink]="'/'" class="nav-link">Contacto</a>
    </div>

    @if (user.username && user.email) {
      <div class="nav-actions">
        <button [routerLink]="'/user'" class="btn-primary">{{ user.username }}</button>
      </div>
    } @else {
      <div class="nav-actions">
        <button [routerLink]="'/login'" class="btn-secondary">Iniciar Sesión</button>
        <button [routerLink]="'/register'" class="btn-primary">Registrarse</button>
      </div>
    }
  </div>
</nav>